@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+TZ:wght@100..400&display=swap");

.container {
    margin: 0 auto;
    padding: 20px;
    background: rgba(125, 83, 28, 0.775);
}

.landing-page {
    height: 100vh;
    background-color: #f3d4861c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
}

.landing-page::before {
    content: '';
    background: url("/public/cremme.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name,
.lastname {
    display: block;
    font-family: 'Playwrite TZ', sans-serif;
    color: #333;
}

.name {
    font-size: min(22vw, 22vh);
}

.lastname {
    font-size: min(17vw, 17vh);
}

.banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}

.banner::before {
    content: '';
    background: url("./banner.jpeg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    z-index: 1;
}

.banner .content {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    opacity: 1;
    position: relative;
    z-index: 2;
}

.banner .text {
    width: 100%;
}

.banner h1 {
    font-size: 2.5rem;
    background-color: #000000d4;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.5rem;
    background-color: #000000d4;
    text-align: center;
    padding: 10px;
}

.banner img {
    width: 170px;
    height: auto;
    filter: grayscale(1);
    border: 12px solid rgb(95, 69, 8);
}

@media screen and (max-width: 858px) {
    .banner div {
        width: 100%;
    }

    .banner h1 {
        font-size: 1.7rem;
        background-color: #000000d4;
        margin-bottom: 14px;
    }

    .banner p {
        font-size: 1.2rem;
        padding: 6px;
    }
}

@media screen and (min-width: 858px) {
    .banner img {
        width: 270px;
    }

    .name {
        font-size: min(28vw, 28vh);
    }
    
    .lastname {
        font-size: min(19vw, 19vh);
    }
}

@media screen and (max-width: 480px) {
    .name-container {
        text-align: center;
        padding: 70px 20px;
    }
}