.artworkListContainer {
  padding: 10px;
}

.artworkListContainer ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.artworkItem {
  margin-bottom: 20px;
  background-color: #f5f5f53c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.artworkItem img {
  height: auto;
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
  margin-right: 15px;
}

.artworkItemContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.artworkItemTitle {
  margin-bottom: 10px;
}

.artworkItemArtist {
  margin-bottom: 10px;
}

.artworkItemDescription {
  margin-bottom: 10px;
}

.artworkItemContact {
  margin-top: 10px;
  font-style: italic;
}

@media (max-width: 568px) {
  .artworkListContainer ul {
    grid-template-columns: 1fr;
  }
}
